<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.facebook.com/"target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/"target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://codepen.io/RSONI29" target="_blank"><i class="fa-brands fa-codepen"></i></a>
            <a href="https://github.com/rahulsoni0629/AirBnb.git"target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy </a>
            &nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>