<%-layout("/layouts/boilerplate")%>
<body>
    <header>
        <h1>Contact Wanderlust</h1>
    </header>

    <section>
        <h2>Get in Touch</h2>
        <p>We'd love to hear from you! Whether you have questions, feedback, or just want to say hello, feel free to reach out to us using the contact form or the provided contact details below.</p>

        <h2>Contact Form</h2>
        <form action="/listings/submit_contact" method="get" novalidate class="needs-validation">
            <label class="form-label" for="name"></label>Your Name:</label>
            <input class="form-control" type="text" id="name" name="name" required>

            <label class="form-label" for="email">Your Email:</label>
            <input class="form-control" type="email" id="email" name="email" required >

            <label class="form-label" for="number">Your Mobile no. :</label>
            <input class="form-control"  type="number" id="number" name="number" required>
            <label class="form-label" for="message">Your Message:</label>
            <textarea class="form-control" id="message" name="message" rows="5" required></textarea><br><br>

            <button class="btn btn-dark" type="submit">Submit</button>
        </form>
    </section>

    <section>
        <h2>Contact Details</h2>
        <p>If you prefer to connect with us through other means, you can reach us using the following contact details:</p>

        <ul>
            <li>Email: info@wanderlust.com</li>
            <li>Phone: +1 (555) 123-4567</li>
            <li>Address: 123 Travel Street, Cityville, Country</li>
        </ul>
    </section>
</body>
